
// = = = = = = = = 

// MIXINS
@import "./utils/grid-mixns";
@import "./utils/mqueries";
@import "./utils/mixins";

// BASE
@import "./utils/vars";

// BASE
@import "./utils/colors";

// Grid system
@import "./base/grid-system";

// = = = = = = = = 

:root {
    --font_title: 'Gilroy','Montserrat', sans-serif;
    --font_body: 'Asap', sans-serif;
}

.lentesplus {
    --font_title: 'Gilroy','Montserrat', sans-serif;
    --font_body: 'Asap', sans-serif;

    font-family: var( --font_title );
}
.newlentes {
    --font_title: 'Open Sans', sans-serif;
    --font_body: 'Open Sans', sans-serif;

    font-family: var( --font_title );
}

.page_pwaPg {
    margin-bottom: 60px;

    @include media_phone() {
        padding-right: calc( $remSize / 2);
        padding-left: calc( $remSize / 2);
        box-sizing: border-box;
    }
}

// components
@import "./base/components";

// = = = = = = = = 