
<div class="footerCont footerCont_lentesplus">
    <img class="footer_lg" src="../imgs/base/lentesplus/footer_desk.jpg" alt="">
    <img class="footer_sm" src="../imgs/base/lentesplus/footer_mobile.jpg" alt="">
</div>
<div class="footerCont footerCont_newlentes">
    <img class="footer_lg" src="../imgs/base/newLentes/footer_desk.jpg" alt="">
    <img class="footer_sm" src="../imgs/base/newLentes/footer_mobile.jpg" alt="">
</div>


<!-- <div class="selectLoja">
    <div class="wrap">
        <button id="js_lojaLentesplus">Lentesplus</button>
        <button id="js_lojaNewlentes">newLentes</button>
    </div>
</div> -->