
// COLORS

:root {
    --color_main: #000000;
    --color_text: #000000;
    --color_main: #000000;
}

.lentesplus {
    --color_main: #80ACE0;
    --color_text: #2D668C;
    --color_textAlt: #9F98E2;
}
.newlentes {
    --color_main: #72B0E6;
    --color_text: #0B3260;
    --color_textAlt: #0E8ABA;
}