
// = = = = = = = = 

// PAGE BASE
@import "../page-base";

// = = = = = = = =

.cardItm {
    border: thin solid var( --color_main );
    padding: $remSize / 2;
    border-radius: $remSize / 2;
    display: flex;
    align-items: center;
    cursor: pointer;


    .imgThumb {
        margin: 0 $remSize 0 0;
        img {
            width: 60px;
        }
    }

    .text {
        color: var( --color_text );
        .ttl {
            font-weight: 800;
            margin: 0 0 $remSize / 2 0;
        }
    }
}
